.Weather-widget-app__block {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.Weather-widget-app__block-img {
  width: 15px;
  height: 15px;
}

.Weather-widget-app__subblock {
  width: 50%;
  display: flex;
  align-items: center;
}

.Weather-widget-app__subblock > h4 {
  margin: 0;
}
