.Weather-widget-app__block-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.Weather-widget-app__block-img {
  width: 15px;
  height: 15px;
}

.Weather-widget-app__block {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

.Weather-widget-app__subblock > h4 {
  margin: 0;
}
