.Weather-widget-app__settings-element {
  margin-top: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(167, 162, 162, 0.2);
}

.Weather-widget-app__settings-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Weather-widget-app__settings-hamburger {
  width: 10px;
  margin-right: 10px;
  cursor: -webkit-grab;
  cursor: grab;
}

.Weather-widget-app__settings-close {
  width: 20px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  cursor: pointer;
}
