.Weather-widget-app__settings-container {
  display: block;
}

.Weather-widget-app__settings-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  width: 20px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.Weather-widget-app__settings-lang {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Weather-widget-app__settings-lang-button {
  margin-left: 10px;
}

.Weather-widget-app__settings-add {
  margin-top: 20px;
}

.Weather-widget-app__settings-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Weather-widget-app__settings-input {
  width: 85%;
}

.Weather-widget-app__settings-submit {
  width: 10%;
}
